$primarycolor: #0f2c6c;
$lightblue: #68ACE5;
$lightblueprimary: #DCEBF9;
$lightbluesecondary: #eef5fc;
$blackcolor: #31261D;
$whitecolor: #fff;
$secondarycolor: #CF4520;
$lightbg: #F5F5F5;
$proximafont: 'Proxima Nova', sans-serif;
$primaryrounded: 24px;
$secondaryrounded: 16px;
$primaryshadow: 8px 8px 8px rgba(0, 0, 0, 0.04), inset 0px -75px 8px #FFFFFF;
$dividercolor: #E8E8E8;
$lightgraycolor: #FBFBFB;



@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proxima_nova_thin-webfont.eot');
	/* IE9 Compat Modes */
	src: url('../fonts/proxima_nova_thin-webfont.woff2') format('woff2'),
		url('../fonts/proxima_nova_thin-webfont.woff') format('woff'),
		url('../fonts/proxima_nova_thin-webfont.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proxima_nova_regular-webfont.eot');
	/* IE9 Compat Modes */
	src: url('../fonts/proxima_nova_regular-webfont.woff') format('woff'),
		url('../fonts/proxima_nova_regular-webfont.ttf') format('truetype'),
		url('../fonts/proxima_nova_regular-webfont.svg#proxima_nova_regular-webfont') format('svg');
	/* Legacy iOS */
	font-weight: 400;
	font-style: normal;
}


@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proxima_nova_semibold-webfont.eot');
	/* IE9 Compat Modes */
	src: url('../fonts/proxima_nova_semibold-webfont.woff2') format('woff2'),
		url('../fonts/proxima_nova_semibold-webfont.ttf') format('truetype'),
		url('../fonts/proxima_nova_semibold-webfont.svg#proxima_nova_semibold-webfont') format('svg');
	/* Legacy iOS */
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proxima_nova_bold-webfont.eot');
	/* IE9 Compat Modes */
	src: url('../fonts/proxima_nova_bold-webfont.woff2') format('woff2'),
		url('../fonts/proxima_nova_bold-webfont.woff') format('woff'),
		url('../fonts/proxima_nova_bold-webfont.ttf') format('truetype'),
		url('../fonts/proxima_nova_bold-webfont.svg#proxima_nova_bold-webfont') format('svg');
	/* Legacy iOS */
	font-weight: 700;
	font-style: normal;
}



body {
	color: $blackcolor;
	background: $lightblueprimary;
	font-family: $proximafont;
	font-size: 18px;
	font-weight: 400;
	padding-bottom: 100px;
}

.header {
	background-color: $primarycolor;
}

#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
	background: $lightblueprimary;
}

.tabs ul.primary li {
	a.is-active {
		background-color: $whitecolor;
	}

	.is-active a {
		background-color: $whitecolor;
		border-bottom-color: $whitecolor;
	}
}

#navbar-top {
	background-color: $lightbluesecondary;
}

a,
.link {
	color: $primarycolor;

	&:hover {
		color: $secondarycolor;
	}

	&:focus {
		color: $secondarycolor;
	}
}

.nav-item .dropdown-item a.active {
	color: $whitecolor;
}

.nav-link {
	color: $whitecolor;

	&:hover,
	&:focus {
		color: $whitecolor;
	}
}

.btn-primary {
	background-color: $primarycolor;
	border-color: $primarycolor;

	&:hover,
	&:focus {
		background-color: $secondarycolor;
		border-color: $secondarycolor;
	}
}

.btn-secondary {
	background-color: $secondarycolor;
	border-color: $secondarycolor;

	&:hover,
	&:focus {
		background-color: $primarycolor;
		border-color: $primarycolor;
	}
}

.btn-light {
	background-color: $lightbg;
	border: 0;
	padding: 10px 20px;
	border-radius: $primaryrounded;

	&:hover,
	&:focus {
		background-color: $primarycolor;
		border-color: $primarycolor;
		color: $whitecolor;
	}
}

.btn-outline-primary {
	border-color: $primarycolor;
	border-width: 2px;
	padding: 10px 20px;
	border-radius: $primaryrounded;

	&:hover,
	&:focus {
		background-color: $primarycolor;
		border-color: $primarycolor;
		color: $whitecolor;
	}
}


.btn-light.icon {
	i {
		background: url('data:image/svg+xml,<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.5 2C6.98 2 2.5 6.48 2.5 12C2.5 17.52 6.98 22 12.5 22C18.02 22 22.5 17.52 22.5 12C22.5 6.48 18.02 2 12.5 2ZM16.53 12.53L13.53 15.53C13.38 15.68 13.19 15.75 13 15.75C12.81 15.75 12.62 15.68 12.47 15.53C12.18 15.24 12.18 14.76 12.47 14.47L14.19 12.75H9C8.59 12.75 8.25 12.41 8.25 12C8.25 11.59 8.59 11.25 9 11.25H14.19L12.47 9.53C12.18 9.24 12.18 8.76 12.47 8.47C12.76 8.18 13.24 8.18 13.53 8.47L16.53 11.47C16.82 11.76 16.82 12.24 16.53 12.53Z" fill="%23002D70"/></svg>');
		width: 25px;
		height: 25px;
		display: inline-block;
		vertical-align: top;
		margin-right: 10px;
		margin-left: -4px;
	}

	&:hover,
	&:focus {
		i {
			background: url('data:image/svg+xml,<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.5 2C6.98 2 2.5 6.48 2.5 12C2.5 17.52 6.98 22 12.5 22C18.02 22 22.5 17.52 22.5 12C22.5 6.48 18.02 2 12.5 2ZM16.53 12.53L13.53 15.53C13.38 15.68 13.19 15.75 13 15.75C12.81 15.75 12.62 15.68 12.47 15.53C12.18 15.24 12.18 14.76 12.47 14.47L14.19 12.75H9C8.59 12.75 8.25 12.41 8.25 12C8.25 11.59 8.59 11.25 9 11.25H14.19L12.47 9.53C12.18 9.24 12.18 8.76 12.47 8.47C12.76 8.18 13.24 8.18 13.53 8.47L16.53 11.47C16.82 11.76 16.82 12.24 16.53 12.53Z" fill="%23ffffff"/></svg>');
		}
	}
}


#main-wrapper {
	margin-left: 300px;
	padding: 80px;
}

#navbar-top {
	position: fixed;
	top: 0px;
	left: 300px;
	width: calc(100% - 300px);
	z-index: 1;
}

.site-footer {
	background: $primarycolor;
	position: fixed;
	bottom: 0px;
	width: 100%;
	padding: 32px;
	font-family: $proximafont;

	.content {
		color: $whitecolor !important;
		font-size: 18px;
		padding: 0;

		a {
			color: #CFE5F0;
			text-decoration: none;
			margin-left: 20px;
			position: relative;
			display: inline-block;

			&:hover {
				color: $whitecolor;
			}

			&:after {
				width: 2px;
				height: 26px;
				content: "";
				display: inline-block;
				background: $whitecolor;
				margin-left: 20px;
				vertical-align: bottom;
			}

			&:last-child:after {
				display: none;
			}
		}
	}
}

.site-footer__bottom {
	margin: 0;
	border: 0;

	.region,
	.block {
		margin: 0;
		padding: 0;
		text-align: center;
	}
}

.sidebar_first.sidebar {
	background: $whitecolor;
	width: 300px !important;
	position: fixed;
	left: 0;
	top: 0px;
	height: 100%;

	.block {
		background: none;
		margin-bottom: 0;
		padding-top: 0;
		padding-bottom: 0;
		border: 0;
	}

	.nav-link {
		color: $blackcolor;
		padding: 24px;
		font-weight: 700;

		&:hover {
			background: $lightblueprimary;
		}
	}

	.is-active {
		background: $lightblueprimary;
	}

	.navbar-brand {
		padding: 24px;
		font-weight: 700;
		display: block;
		align-items: center;
		font-size: 24px;
		white-space: normal;
		line-height: 28px;

		img {
			margin-right: 16px;
			display: block !important;
			margin-bottom: 16px;
		}
	}

	.section {
		padding-top: 100px;
		overflow: hidden;
		overflow-y: auto;
		height: calc(100vh - 100px);
	}

	.nav,
	li {
		display: block;
	}
}

.card {
	box-shadow: $primaryshadow;
	border-radius: $primaryrounded;
	background: $whitecolor;
	border: 0;
	margin-top: 40px;
	padding: 40px 20px;
	position: relative;

	h2 {
		font-size: 24px;
		font-weight: 700;
		margin: 0 0 24px 0;
		padding: 0 150px 24px 24px;
		color: $primarycolor;
		border-bottom: 1px solid $dividercolor;
	}

	.contextual-region {
		.view-header {
			.btn {
				position: absolute;
				top: -86px;
				right: 24px;
			}
		}
	}

	.view-header {
		.btn {
			position: absolute;
			top: 32px;
			right: 24px;
		}
	}

	.view-content.row {
		margin: 0;

		.views-row {
			margin-bottom: 10px;

			&:last-child {
				margin: 0;
			}
		}
	}
}
.fw-card {
	box-shadow: $primaryshadow;
	border-radius: $primaryrounded;
	background: $whitecolor;
	border: 0;
	margin-top: 40px;
	padding: 40px 20px;
	position: relative;
	h2{font-size:32px; font-weight:700; margin-bottom:15px;}
}

.discus-forum {
	.views-row {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		background: $lightgraycolor;
		padding: 16px;
		border-radius: $secondaryrounded;
	}

	.views-field-term-node-tid,
	.views-field-uid {
		width: 100%;
		max-width: 100%;
	}

	.views-field-term-node-tid {
		margin-bottom: 10px;

		a {
			display: inline-block;
			position: relative;
			border: 1px solid $lightblue;
			border-radius: 8px;
			background: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.4199 13.4201H13.2599L13.5799 10.5801H10.7399L10.4199 13.4201Z" fill="%23D9D9D9"/><path d="M16.19 2H7.81C4.17 2 2 4.17 2 7.81V16.18C2 19.83 4.17 22 7.81 22H16.18C19.82 22 21.99 19.83 21.99 16.19V7.81C22 4.17 19.83 2 16.19 2ZM18.82 10.58H15.05L14.73 13.43H18.1C18.5 13.43 18.83 13.76 18.83 14.16C18.83 14.56 18.5 14.89 18.1 14.89H14.57L14.16 18.55C14.12 18.92 13.8 19.2 13.43 19.2C13.4 19.2 13.38 19.2 13.35 19.2C12.95 19.16 12.66 18.79 12.7 18.39L13.09 14.89H10.25L9.84 18.55C9.8 18.92 9.48 19.2 9.11 19.2C9.08 19.2 9.06 19.2 9.03 19.2C8.63 19.16 8.34 18.79 8.38 18.39L8.77 14.89H5.18C4.78 14.89 4.45 14.56 4.45 14.16C4.45 13.76 4.78 13.43 5.18 13.43H8.95L9.27 10.58H5.9C5.5 10.58 5.17 10.25 5.17 9.85C5.17 9.45 5.5 9.12 5.9 9.12H9.43L9.84 5.46C9.88 5.06 10.25 4.77 10.65 4.81C11.05 4.85 11.34 5.22 11.3 5.62L10.91 9.12H13.75L14.16 5.46C14.21 5.06 14.57 4.77 14.97 4.81C15.37 4.85 15.66 5.22 15.62 5.62L15.23 9.12H18.84C19.24 9.12 19.57 9.45 19.57 9.85C19.57 10.25 19.22 10.58 18.82 10.58Z" fill="%23D9D9D9"/></svg>') no-repeat 15px 4px;
			padding: 3px 18px 3px 50px;
			text-decoration: none;

			&:hover {
				border-color: $secondarycolor;
			}
		}
	}

	.views-field-uid {
		margin-top: 10px;

		.field-content {
			color: #707070;

			a {
				color: $blackcolor;
				text-decoration: none;

				&:hover {
					color: $primarycolor;
					text-decoration: underline;
				}
			}

			span {
				color: $blackcolor;
			}
		}
	}

	.views-field-user-picture {
		margin-right: 18px;

		img {
			width: 64px;
			height: 64px;
			border-radius: 100%;
		}
	}

	.views-field-title {
		color: $primarycolor;
		font-weight: 600;
		line-height: 26px;
		width: calc(100% - 90px);

		a {
			color: $primarycolor;
			text-decoration: none;

			&:hover {
				color: $secondarycolor;
			}
		}
	}
}

.news {
	.views-row {
		background: $lightgraycolor;
		padding: 24px;
		border-radius: $secondaryrounded;
	}

	.views-field-created {
		padding-bottom: 10px;

		.datetime {
			font-size: 18px;
			font-weight: 700;
			text-transform: uppercase;
			color: $primarycolor;
			letter-spacing: 2px;
		}
	}

	.views-field-field-tags {
		a {
			display: inline-block;
			position: relative;
			border: 1px solid $lightblue;
			border-radius: 8px;
			padding: 3px 18px 3px 18px;
			text-decoration: none;

			&:hover {
				border-color: $secondarycolor;
			}
		}
	}

	.views-field-title {
		color: $primarycolor;
		font-weight: 600;
		line-height: 26px;
		padding: 20px 0;

		a {
			color: $primarycolor;
			text-decoration: none;

			&:hover {
				color: $secondarycolor;
			}
		}
	}

	.views-field-view-node {
		a {
			color: $lightblue;
			padding-right: 30px;
			text-decoration: none;
			background: url('data:image/svg+xml,<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.9301 18.8201C14.7401 18.8201 14.5501 18.7501 14.4001 18.6001C14.1101 18.3101 14.1101 17.8301 14.4001 17.5401L19.9401 12.0001L14.4001 6.46012C14.1101 6.17012 14.1101 5.69012 14.4001 5.40012C14.6901 5.11012 15.1701 5.11012 15.4601 5.40012L21.5301 11.4701C21.8201 11.7601 21.8201 12.2401 21.5301 12.5301L15.4601 18.6001C15.3101 18.7501 15.1201 18.8201 14.9301 18.8201Z" fill="%2368ACE5"/><path d="M20.83 12.75H4C3.59 12.75 3.25 12.41 3.25 12C3.25 11.59 3.59 11.25 4 11.25H20.83C21.24 11.25 21.58 11.59 21.58 12C21.58 12.41 21.24 12.75 20.83 12.75Z" fill="%2368ACE5"/></svg>') no-repeat center right;

			&:hover {
				color: $primarycolor;
				background: url('data:image/svg+xml,<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.9301 18.8201C14.7401 18.8201 14.5501 18.7501 14.4001 18.6001C14.1101 18.3101 14.1101 17.8301 14.4001 17.5401L19.9401 12.0001L14.4001 6.46012C14.1101 6.17012 14.1101 5.69012 14.4001 5.40012C14.6901 5.11012 15.1701 5.11012 15.4601 5.40012L21.5301 11.4701C21.8201 11.7601 21.8201 12.2401 21.5301 12.5301L15.4601 18.6001C15.3101 18.7501 15.1201 18.8201 14.9301 18.8201Z" fill="%230f2c6c"/><path d="M20.83 12.75H4C3.59 12.75 3.25 12.41 3.25 12C3.25 11.59 3.59 11.25 4 11.25H20.83C21.24 11.25 21.58 11.59 21.58 12C21.58 12.41 21.24 12.75 20.83 12.75Z" fill="%230f2c6c"/></svg>') no-repeat center right;
			}
		}
	}
}

.events {
	.views-row {
		background: $lightgraycolor;
		padding: 16px;
		border-radius: $secondaryrounded;
	}

	.views-field-title {
		color: $primarycolor;
		font-weight: 600;
		line-height: 26px;
		padding: 0px 0 20px 0;

		a {
			color: $primarycolor;
			text-decoration: none;

			&:hover {
				color: $secondarycolor;
			}
		}
	}

	.views-field-field-date {
		width: 90px;
		margin-right: 20px;
		text-align: center;
		font-weight: 700;
		color: $primarycolor;

		span {
			display: block;
		}

		.date {
			font-size: 40px;
			color: $lightblue;
			line-height: 40px;
		}
	}

	.btn-outline-primary {
		border-color: none;
		border-width: 0;
		padding: 0;
		border-radius: $primaryrounded;

		&:hover,
		&:focus {
			background-color: none;
			border-color: none;
			color: $whitecolor;
		}

		a {
			border: 2px solid $primarycolor;
			padding: 10px 20px;
			border-radius: $primaryrounded;
			display: inline-block;
			text-decoration: none;

			&:hover,
			&:focus {
				background-color: $primarycolor;
				border-color: $primarycolor;
				color: $whitecolor;
			}
		}
	}
}

#block-nih-userlogin {
	max-width: 630px;
	margin: 0 auto;
	background: $whitecolor;
	box-shadow: $primaryshadow;
	border-radius: $primaryrounded;
	padding: 40px;

	h2 {
		font-size: 32px;
		font-weight: 700;
		text-align: center; padding-bottom:32px;
	}
	.mb-3{margin-bottom:20px !important;}
	.form-control{border:2px solid $primarycolor; border-radius:8px; height:58px; font-family:$proximafont; margin-top:5px;}
	.form-submit{width:100%; border-radius:$primaryrounded;}
	.list-group-item{border:0px;}
	.create-account-link{font-weight:700; text-decoration:none;}
}